{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
        <main class="main"> 
                <style>
    .carousel-inner {
  background: rgba(0, 0, 0, 0.5); /* Fond noir avec une opacité de 0.5 */
}


.carousel-caption {
  background: rgba(0, 0, 0, 0.5); 
  padding: 10px; 
}

</style>

        <h1>Bienvenue sur le cineclub de Kyou</h1>    

        <h2>Les derniers ajouts</h2>
    
        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              {% for lastMovie in lastMovies %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                  <img src="{{ asset('uploads/' ~ lastMovie.poster) }}" class="d-block w-100" alt="..." style="width: 30vw; height: 75vh; object-fit: contain;">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>{{ lastMovie.frenchTitle }}</h5>
                  </div>
                </div>
              {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </main>    
{% endblock %}
