{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
        <main class="main"> 
        <h1>Bienvenue sur le cineclub de Kyou</h1>    
        </main>    
{% endblock %}
