{% extends 'base.html.twig' %}

{% block title %}New Countries{% endblock %}

{% block body %}
    <main class="main"> 
    <h1>Create new Countries</h1>

    {{ include('countries/_form.html.twig') }}

    <a href="{{ path('app_countries_index') }}">back to list</a>
    </main>
{% endblock %}
