{% extends 'base.html.twig' %}

{% block title %}New Movies{% endblock %}

{% block body %}
    <main class="main"> 
    <h1>Create new Movies</h1>

    {{ include('movies/_form.html.twig') }}

    <a href="{{ path('app_movies_index') }}">back to list</a>
    </main>    
{% endblock %}
